# Target chip
CONFIG_IDF_TARGET="esp32"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# CPU frequency
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# FreeRTOS tick rate
CONFIG_FREERTOS_HZ=1000

# Serial console
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# OpelXID Demonstration Configuration
CONFIG_OPEL_DISPLAY_TYPE_TID_10=y
CONFIG_OPEL_DISPLAY_PIN_SDA=21
CONFIG_OPEL_DISPLAY_PIN_SCL=22
CONFIG_OPEL_DISPLAY_PIN_MRQ=23

