# Target chip
CONFIG_IDF_TARGET="esp32"

# Serial console
CONFIG_ESP_CONSOLE_UART=y
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# OpelXID Board Test Configuration
CONFIG_OPEL_BOARDTEST_PIN_SDA=9
CONFIG_OPEL_BOARDTEST_PIN_SCL=11
CONFIG_OPEL_BOARDTEST_PIN_MRQ=13
